body {
    font-family: Arial;
}

h1 {
    text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  /*flex-grow: 4; !* default 0 *!*/
  /*flex-shrink: 3; !* default 0 *!*/
  flex-direction: row;
  justify-content: center;
}

.box {
  margin: auto;
  margin-bottom: 10px;
  border: 5px solid black;
  border-radius: 3px;
}

div {
  border: black;
}

p {
  margin-left: 10px;
}

/*.grid2x2 {*/
/*  min-height: 100%;*/
/*  display: flex;*/
/*  flex-wrap: wrap;*/
/*  flex-direction: row;*/
/*}*/
/*.grid2x2 > div {*/
/*  display: flex;*/
/*  flex-basis: calc(50% - 40px);*/
/*  justify-content: center;*/
/*  flex-direction: column;*/
/*}*/
/*.grid2x2 > div > div {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  flex-direction: row;*/
/*}*/

/*.box { margin: 20px; }*/
/*.box1 { background-color: red; }*/
/*.box2 { background-color: orange; }*/
/*.box3 { background-color: purple; }*/
/*.box4 { background-color: grey; }*/