body {
    font-family: Arial;

}

.header {
    text-align: center;
}

ul {
    text-align: center;
    list-style-position: inside;
}

/*.bottom {*/
/*  font-size: large;*/
/*}*/

.container {
  display: flex;
  flex-wrap: wrap;
  /*flex-grow: 4; !* default 0 *!*/
  /*flex-shrink: 3; !* default 0 *!*/
  flex-direction: row;
  justify-content: center;
}

.box {
  margin: auto;
  margin-bottom: 10px;
  border: 5px solid black;
  border-radius: 3px;
  /*border: thick*/
}

/*div {*/
/*  border: black;*/
/*}*/

p {
  padding-left: 10px;
}

.shapes {

}

.square {
  width: 50px;
  height: 50px;
  background: lightskyblue;
}

.circle {
      width: 50px;
      height: 50px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: lightgreen;
}

.my-rect {
  fill: lightblue;
}

.my-rect:hover {
  fill: darkblue;
}