body {
    font-family: Arial;

}

.header {
    text-align: center;
}

ul {
    text-align: center;
    list-style-position: inside;
}

/*.bottom {*/
/*  font-size: large;*/
/*}*/

.container {
  display: flex;
  flex-wrap: wrap;
  /*flex-grow: 4; !* default 0 *!*/
  /*flex-shrink: 3; !* default 0 *!*/
  flex-direction: row;
  justify-content: center;
}

.box {
  margin: auto;
  margin-bottom: 10px;
  border: 5px solid black;
  border-radius: 3px;
  /*border: thick*/
}

/*div {*/
/*  border: black;*/
/*}*/

p {
  padding-left: 10px;
}

.shapes {

}

.square {
  width: 50px;
  height: 50px;
  background: lightskyblue;
}

.circle {
      width: 50px;
      height: 50px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: lightgreen;
}

/*.grid2x2 {*/
/*  min-height: 100%;*/
/*  display: flex;*/
/*  flex-wrap: wrap;*/
/*  flex-direction: row;*/
/*}*/
/*.grid2x2 > div {*/
/*  display: flex;*/
/*  flex-basis: calc(50% - 40px);*/
/*  justify-content: center;*/
/*  flex-direction: column;*/
/*}*/
/*.grid2x2 > div > div {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  flex-direction: row;*/
/*}*/

/*.box { margin: 20px; }*/
/*.box1 { background-color: red; }*/
/*.box2 { background-color: orange; }*/
/*.box3 { background-color: purple; }*/
/*.box4 { background-color: grey; }*/